<div class="fixed-top">
  <app-header></app-header>
</div>
<div>
  <div class="hero">
    <div class="container">
      <div class="hero-content col-6">
        <p class="section-subtitle">Better Learning Future With Us</p>
        <h2 class="h1 hero-title">Education Is About Academic Excellence</h2>
        <p class="hero-text">
         Help people to learning more easy
        </p>
        <button href="#" class="btn btn-primary hero-button text-center">
          Get Started Today
          <i class="fa-solid fa-arrow-right ms-3"></i>
        </button>
      </div>

      <figure class="hero-banner">
        <img
          src="./assets/images/hero-banner.png"
          width="500"
          height="500"
          loading="lazy"
          alt="hero image"
          class="w-100"
        />

        <img
          src="./assets/images/hero-abs-1.png"
          width="318"
          height="352"
          loading="lazy"
          aria-hidden="true"
          class="abs-img abs-img-1"
        />

        <img
          src="./assets/images/hero-abs-2.png"
          width="160"
          height="160"
          loading="lazy"
          aria-hidden="true"
          class="abs-img abs-img-2"
        />
      </figure>
    </div>
  </div>

  <div class="course-category">
    <div>
      <p class="section-subtitle text-center">COURSE CATEGORIES</p>
      <h1 class="course-title">Popular Subject To Learn</h1>
    </div>
    <div class="section-subject">
      <div class="subject-item">
        <div>
          <i class="fa-solid fa-calculator"></i>
        </div>
        <div class="subject-infor">
          <h3>Maths</h3>
          <p>30 course</p>
        </div>
      </div>
      <div class="subject-item">
        <div>
          <i class="fa-solid fa-book"></i>
        </div>
        <div class="subject-infor">
          <h3>Literature</h3>
          <p>50 course</p>
        </div>
      </div>
      <div class="subject-item">
        <div>
          <i class="fa-solid fa-landmark"></i>
        </div>
        <div class="subject-infor">
          <h3>History</h3>
          <p>15 course</p>
        </div>
      </div>
      <div class="subject-item">
        <div>
          <i class="fa-brands fa-battle-net"></i>
        </div>
        <div class="subject-infor">
          <h3>Physics</h3>
          <p>20 course</p>
        </div>
      </div>
      <div class="subject-item">
        <div>
          <i class="fa-solid fa-flask-vial"></i>
        </div>
        <div class="subject-infor">
          <h3>Chemistry</h3>
          <p>35 course</p>
        </div>
      </div>
      <div class="subject-item">
        <div>
          <i class="fa-solid fa-language"></i>
        </div>
        <div class="subject-infor">
          <h3>English</h3>
          <p>80 course</p>
        </div>
      </div>
      <div class="subject-item">
        <div>
          <i class="fa-solid fa-dna"></i>
        </div>
        <div class="subject-infor">
          <h3>Biology</h3>
          <p>18 course</p>
        </div>
      </div>
      <div class="subject-item">
        <div>
          <i class="fa-solid fa-sitemap"></i>
        </div>
        <div class="subject-infor">
          <h3>Informatics</h3>
          <p>38 course</p>
        </div>
      </div>
      <div class="subject-item">
        <div>
          <i class="fa-solid fa-earth-americas"></i>
        </div>
        <div class="subject-infor">
          <h3>Geology</h3>
          <p>28 course</p>
        </div>
      </div>
    </div>
  </div>

 <div>
  <app-teacher-session></app-teacher-session>
 </div>
</div>


<div>
  <app-footer></app-footer>
</div>
