<div>
  <div class="hero">
    <div class="container">
      <div class="hero-content col-6">
        <p class="section-subtitle">Better Learning Future With Us</p>
        <h2 class="h1 hero-title">Education Is About Academic Excellence</h2>
        <p class="hero-text">Help people to learning more easy</p>
        <button href="#" class="btn btn-primary hero-button text-center" (click)="register()">
          Get Started Today
          <i class="fa-solid fa-arrow-right ms-3"></i>
        </button>
      </div>

      <figure class="hero-banner">
        <img
          src="./assets/images/hero-banner.png"
          width="500"
          height="500"
          loading="lazy"
          alt="hero image"
          class="w-100"
        />

        <img
          src="./assets/images/hero-abs-1.png"
          width="318"
          height="352"
          loading="lazy"
          aria-hidden="true"
          class="abs-img abs-img-1"
        />

        <img
          src="./assets/images/hero-abs-2.png"
          width="160"
          height="160"
          loading="lazy"
          aria-hidden="true"
          class="abs-img abs-img-2"
        />
      </figure>
    </div>
  </div>

  <div>
    <app-category-session></app-category-session>
  </div>

  <div>
    <app-teacher-session></app-teacher-session>
  </div>

  <div>
    <app-course-session></app-course-session>
  </div>
</div>
