<div class="form-login w-100">
  <h1>WELCOME</h1>
  <br />
  <form style="width: 500px" [formGroup]="loginForm" (submit)="login()">
    <!-- Email input -->
    <label class="form-label" for="form2Example1">Email address</label>
    <div class="form-outline mb-4">
      <input
        type="text"
        id="email"
        name="email"
        class="form-control"
        formControlName="email"
        style="height: 3.2rem;"
        required
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="text-danger"
      >
        <div *ngIf="email.errors?.['required']">email is required.</div>
      </div>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <div class="d-flex">
        <label class="form-label" for="form2Example2">Password</label>
      </div>
      <input
        type="password"
        id="form2Example2"
        class="form-control"
        formControlName="password"
        style="height: 3.2rem;"
      />

      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="text-danger"
      >
        <div *ngIf="password.errors?.['required']">password is required.</div>
        <div *ngIf="password.errors?.['minlength']">
          password have more than 8 characters
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <a href="#!">Forgot password?</a>
      </div>
    </div>

    <div class="d-flex justify-content-center flex-column">
      <button
        type="submit"
        class="btn btn-primary btn-block mb-4 p-3"
      >
        Sign in
      </button>
    </div>
  <hr />
  <div class="">
    <button
      (click)="register()"
      type="button"
      class="btn btn-primary btn-block mb-4 w-100 p-3"
    >
      Register
    </button>
  </div>
</form>

</div>
