<div class="modal-create-course">
  <div class="row justify-content-between">
    <div class="col-sm-4 mt-5">
      <img src="../../../assets/images/8600.jpg" alt="" width="500px" />
    </div>
    <div class="col-sm-6">
      <h2 class="logo">Tạo khóa học</h2>
      <br />
      <form>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="namecourse" class="form-label">Tên khóa học</label>
            <div class="input-group has-validation">
              <input
                type="text"
                class="form-control"
                id="namecourse"
                placeholder="Nhập tên khóa học"
                required=""
              />
            </div>
          </div>
          <div class="col-sm-5 mb-3">
            <label for="state" class="form-label">Chọn giáo viên</label>
            <select class="form-select" id="state" required="">
              <option value="">Giáo viên A</option>
              <option value="">Giáo viên B</option>
            </select>
          </div>
          <div class="col-sm-3 mb-3">
            <label for="slmax" class="form-label">Số lượng tối đa</label>
            <input
              type="number"
              class="form-control"
              id="slmax"
              placeholder=""
              value=""
              required=""
            />
          </div>
          <div class="col-sm-6 mb-3">
            <label for="state" class="form-label">Chọn môn học</label>
            <select class="form-select" id="state" required="">
              <option value="">Vật lý</option>
              <option value="">Toán</option>
            </select>
          </div>
          <div class="col-sm-6 mb-3">
            <label for="price" class="form-label">Giá tiền khóa học</label>
            <input
              type="text"
              class="form-control"
              id="price"
              placeholder=""
              value=""
              required=""
            />
          </div>

          <div class="col-sm-6 mb-3">
            <label for="startDate" class="form-label">Ngày bắt đầu khóa</label>
            <input
              type="date"
              class="form-control"
              id="startDate"
              placeholder=""
              value=""
              required=""
            />
          </div>
          <div class="col-sm-6 mb-3">
            <label for="endDate" class="form-label">Ngày kết thúc khóa</label>
            <input
              type="date"
              class="form-control"
              id="endDate"
              placeholder=""
              value=""
              required=""
            />
          </div>

          <div class="col-sm-6 mb-3">
            <label for="startDate" class="form-label">Chọn ngày học 1</label>
            <input
              type="datetime-local"
              class="form-control"
              id="startDate"
              placeholder=""
              value=""
              required=""
            />
          </div>
          <div class="col-sm-6 mb-3">
            <label for="state" class="form-label">Chọn phòng học</label>
            <select class="form-select" id="state" required="">
              <option value="">Phòng 1</option>
              <option value="">Phòng 2</option>
            </select>
          </div>
          <div class="col-sm-6 mb-3">
            <label for="endDate" class="form-label">Chọn ngày học 2</label>
            <input
              type="datetime-local"
              class="form-control"
              id="endDate"
              placeholder=""
              value=""
              required=""
            />
          </div>
          <div class="col-sm-6 mb-3">
            <label for="state" class="form-label">Chọn phòng học</label>
            <select class="form-select" id="state" required="">
              <option value="">Phòng 1</option>
              <option value="">Phòng 2</option>
            </select>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button class="btn btn-danger btn-lg me-3" type="submit">
            <i class="fa-solid fa-xmark"></i> Hủy
          </button>

          <button class="btn btn-success btn-lg" type="submit">
            <i class="fa-solid fa-check"></i> Tạo
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
