<div class="footer" *ngIf="isShow">
  <!-- description -->
  <div class="col-3 footer-section ps-5">
    <div class="menu-text pb-5">EduAcademy</div>

    <p class="fs-5">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum.
    </p>
    <ul class="w-100 icon-social-media d-flex justify-content-end mt-5">
      <li class="me-4"><i class="icon fa-brands fa-square-facebook"></i></li>
      <li class="me-4"><i class="icon fa-brands fa-instagram"></i></li>
      <li class="me-4"><i class="icon fa-brands fa-pinterest"></i></li>
      <li class="me-4"><i class="icon fa-brands fa-tiktok"></i></li>
      <li><i class="icon fa-brands fa-youtube"></i></li>
    </ul>
  </div>

  <!-- Explore -->
  <div class="col-3 footer-section ps-3 align-items-center">
    <div class="menu-text ps-4 pb-5">Explore</div>
    <ul class="contact-info">
      <li>
        <a href="">
          <i class="fa-solid fa-chevron-right"></i>
          About Us
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa-solid fa-chevron-right"></i>
          FAQ Question
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa-solid fa-chevron-right"></i>
          Technical
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa-solid fa-chevron-right"></i>
          Policy
        </a>
      </li>
    </ul>
  </div>

  <!-- Links -->
  <div class="col-3 footer-section">
    <div class="menu-text ps-4 pb-5">Useful Links</div>
    <ul class="contact-info">
      <li>
        <a href="">
          <i class="fa-solid fa-chevron-right"></i>
          Contact Us
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa-solid fa-chevron-right"></i>
          Instructor profile
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa-solid fa-chevron-right"></i>
          Popular Course
        </a>
      </li>
    </ul>
  </div>

  <!-- contact -->
  <div class="col-3 footer-section">
    <div class="menu-text">Contact Info</div>
    <div class="pt-5">
      <div class="item-contact">
        <i class="fa-solid fa-location-dot"></i>
      </div>
      <div class="item-contact">
        <i class="fa-solid fa-phone"></i>
      </div>
      <div class="item-contact">
        <i class="fa-solid fa-envelope"></i>
      </div>
    </div>
  </div>
</div>
