<div>
  <button class="btn btn-success fs-4 mb-3" (click)="attendanceChange()" [hidden]="isChange">
    <i class="fa-solid fa-pen me-3"></i>Điểm danh
  </button>
  <div *ngIf="!isChange; else editAttendance">
    <p-table
      [value]="listStudentAttendance"
      [tableStyle]="{
        'font-size': '18px'
      }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Tên</th>
          <th>Điểm danh</th>
          <th>Ghi chú</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-student>
        <tr>
          <td>{{ student.studentName }}</td>
          <td>{{ student.attendanceStatus }}</td>
          <td>{{ student.description }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <ng-template #editAttendance>
    <app-edit-attendance-table
    [courseId]="courseId"
    (detectCancel)="getData($event)"
    ></app-edit-attendance-table>
  </ng-template>
</div>
