<!-- <div class="row bg-secondary">
  <div class="col-auto col-md-3 col-xl-4 px-sm-2 px-0">
    <div
      class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
    >
      <a href="/" class="d-flex align-items-center mt-5 text-decoration-none">
        <span class="d-none d-sm-inline logo">EduAcademy</span>
      </a>
      <ul
        class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
        id="menu"
      >
        <li
          class="nav-item btn btn-outline-light"
          [ngClass]="menuActive == 'student' ? 'active' : ''"
          (click)="active('student')"
        >
          <i class="fa-solid fa-graduation-cap"></i>
          <span class="ms-3 d-none d-sm-inline">Học sinh</span>
        </li>
        <hr class="sidebar-divider my-0" />

        <li
          class="nav-item btn btn-outline-light"
          [ngClass]="menuActive == 'teacher' ? 'active' : ''"
          (click)="active('teacher')"
        >
          <i class="fa-solid fa-chalkboard-user"></i>
          <span class="ms-3 d-none d-sm-inline">Giáo viên</span>
        </li>
        <li
          class="nav-item btn btn-outline-light"
          [ngClass]="menuActive == 'course' ? 'active' : ''"
          (click)="active('course')"
        >
          <i class="fa-solid fa-door-open"></i>
          <span class="ms-3 d-none d-sm-inline">Khóa học</span>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<div class="sidebar px-2">
  <div _ngcontent-yif-c3="" class="align-items-center my-4">
    <img
      class="img-logo"
      src="../../../../../assets/images/mortarboard.png"
      alt=""
      width="100"
    />
    <a _ngcontent-yif-c3="" href="home" title="Lunya" data-location="internal">
      <span class="d-none d-sm-inline text-logo mb-3">EduAcademy</span>
    </a>
  </div>
  <!-- <a href="#home" ><i class="fa fa-fw fa-home"></i> Home</a>
  <a  (click)="active('collection')"><i class="fa-brands fa-stack-overflow"></i> Collection</a>
  <a (click)="active('fabric')"><i class="fa-solid fa-shirt"></i> Fabric</a> -->
  <!-- <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a> -->
  <ul
    class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
    id="menu"
  >
    <li
      [ngClass]="menuActive == 'student' ? 'active' : ''"
      (click)="active('student')"
    >
      <i class="fa-solid fa-graduation-cap"></i>
      <span class="ms-3 d-none d-sm-inline">Học sinh</span>
    </li>
    <hr class="sidebar-divider my-0" />

    <li
      [ngClass]="menuActive == 'teacher' ? 'active' : ''"
      (click)="active('teacher')"
    >
      <i class="fa-solid fa-chalkboard-user"></i>
      <span class="ms-3 d-none d-sm-inline">Giáo viên</span>
    </li>
    <li
      [ngClass]="menuActive == 'course' ? 'active' : ''"
      (click)="active('course')"
    >
      <i class="fa-solid fa-door-open"></i>
      <span class="ms-3 d-none d-sm-inline">Khóa học</span>
    </li>
  </ul>
</div>
