.header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.06);
  height: 4em;
  align-items: center;
  padding: 0;

  a {
    font-size: large;
    font-weight: 500;
  }
}

