<header class="header" data-header *ngIf="isShow">
  <div class="container">
    <h1>
      <a href="#" class="logo">EduAcademy</a>
    </h1>

    <nav class="navbar" data-navbar>
      <div class="navbar-top">
        <a href="#" class="logo">EduHome</a>

        <button
          class="nav-close-btn"
          aria-label="Close menu"
          data-nav-toggler
        ></button>
      </div>

      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="#home" class="navbar-link" data-nav-toggler>Home</a>
        </li>

        <!-- <li class="navbar-item">
          <a href="#about" class="navbar-link" data-nav-toggler>About</a>
        </li> -->

        <li class="navbar-item">
          <a href="course" class="navbar-link" data-nav-toggler>Courses</a>
        </li>

        <li class="navbar-item">
          <a href="teacher" class="navbar-link" data-nav-toggler>Teacher</a>
        </li>

        <li class="navbar-item">
          <a href="#" class="navbar-link" data-nav-toggler>Contact</a>
        </li>
      </ul>
    </nav>

    <div>
      <div *ngIf="!isLogin; else userItem">
        <a
          (click)="redirect('/auth/login')"
          class="header-action-btn login-btn"
        >
          <span class="span">Login / Register</span>
        </a>
      </div>
      <ng-template #userItem>
        <div class="dropdown">
          <!-- <div class="user-item"> -->
          <button
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-regular fa-user"></i>
          </button>
          <!-- </div> -->

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="logout()">logout</a></li>
          </ul>
        </div>
      </ng-template>
    </div>
  </div>
</header>
