<div class="sidebar px-2">
  <div _ngcontent-yif-c3="" class="align-items-center my-4">
    <img
      class="img-logo"
      src="../../../../../assets/images/mortarboard.png"
      alt=""
      width="100"
    />
    <a _ngcontent-yif-c3="" href="home" title="Lunya" data-location="internal">
      <span class="d-none d-sm-inline text-logo mb-3">EduAcademy</span>
    </a>
  </div>
  <ul
    class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
    id="menu"
  >
    <li
      [ngClass]="menuActive == 'course' ? 'active' : ''"
      (click)="active('course')"
    >
      <i class="fa-solid fa-door-open"></i>
      <span class="ms-3 d-none d-sm-inline">Khóa học</span>
    </li>
    <li
      [ngClass]="menuActive == 'salary' ? 'active' : ''"
      (click)="active('salary')"
    >
    <i class="fa-solid fa-layer-group"></i>
      <span class="ms-3 d-none d-sm-inline">Thống kê</span>
    </li>
  </ul>
</div>
