<section class="h-50 bg-light">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo"
                class="img-fluid"
                style="
                  border-top-left-radius: 0.25rem;
                  border-bottom-left-radius: 0.25rem;
                "
              />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Student registration form</h3>
                <form
                  action=""
                  [formGroup]="registerForm"
                  (submit)="register()"
                >
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example97">Email</label>
                    <input
                      type="text"
                      id="form3Example97"
                      class="form-control form-control-lg"
                      formControlName="email"
                    />
                    <div
                      *ngIf="email.invalid && (email.dirty || email.touched)"
                      class="text-danger"
                    >
                      <div *ngIf="email.errors?.['required']">
                        email is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example97">Password</label>
                    <input
                      type="text"
                      id="form3Example97"
                      class="form-control form-control-lg"
                      formControlName="password"
                    />
                    <div
                      *ngIf="password.invalid && (password.dirty || password.touched)"
                      class="text-danger"
                    >
                      <div *ngIf="password.errors?.['required']">
                        password is required.
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1m"
                          >Full name</label
                        >
                        <input
                          type="text"
                          id="name"
                          class="form-control form-control-lg"
                          formControlName="name"
                        />
                        <div
                          *ngIf="name.invalid && (name.dirty || name.touched)"
                          class="text-danger"
                        >
                          <div *ngIf="name.errors?.['required']">
                            name is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1m1"
                          >Mother's name</label
                        >
                        <input
                          type="text"
                          id="form3Example1m1"
                          class="form-control form-control-lg"
                          formControlName="motherName"
                        />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1n1"
                          >Father's name</label
                        >
                        <input
                          type="text"
                          id="fatherName"
                          class="form-control form-control-lg"
                          formControlName="fatherName"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1m1"
                          >Số điện thoại phụ huynh</label
                        >
                        <input
                          type="text"
                          id="form3Example1m1"
                          class="form-control form-control-lg"
                          formControlName="phoneContact"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example8"
                      >Address</label
                    >
                    <input
                      type="text"
                      id="address"
                      class="form-control form-control-lg"
                      formControlName="address"
                    />
                    <div
                      *ngIf="
                        address.invalid && (address.dirty || address.touched)
                      "
                      class="text-danger"
                    >
                      <div *ngIf="address.errors?.['required']">
                        address is required.
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example8"
                      >Phone Number</label
                    >
                    <input
                      type="text"
                      id="phoneNumber"
                      class="form-control form-control-lg"
                      formControlName="phoneNumber"
                    />
                    <div
                      *ngIf="
                        phoneNumber.invalid &&
                        (phoneNumber.dirty || phoneNumber.touched)
                      "
                      class="text-danger"
                    >
                      <div *ngIf="phoneNumber.errors?.['required']">
                        phoneNumber is required.
                      </div>
                    </div>
                  </div>

                  <div
                    class="d-md-flex justify-content-start align-items-center mb-4 py-2"
                  >
                    <h6 class="mb-0 me-4">Gender:</h6>

                    <div class="form-check form-check-inline mb-0 me-4">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="generate"
                        id="femaleGender"
                        value="Female"
                        formControlName="generate"
                      />
                      <label class="form-check-label" for="femaleGender"
                        >Female</label
                      >
                    </div>

                    <div class="form-check form-check-inline mb-0 me-4">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="generate"
                        id="maleGender"
                        value="Male"
                        formControlName="generate"
                      />
                      <label class="form-check-label" for="maleGender"
                        >Male</label
                      >
                    </div>
                  </div>
                </form>
                <div class="d-flex justify-content-end pt-3">
                  <button type="button" class="btn btn-light btn-lg">
                    Reset all
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning btn-lg ms-2"
                    (click)="register()"
                  >
                    Submit form
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
