.course-detail{
  margin-top: 7%;
  width: auto;
  margin-right: 20%;
  margin-left: 20%;
  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .name {
      margin-right: 30px;
    }
    .value {
      display: flex;
      align-items: flex-end;
    }
  }
}
