<div class="card" style="font-size: 20px;">
  <img
    [src]="teacherInfor.imageUrl"
    class="card-img-top"
    style="height: 25rem; object-fit: cover"
    alt="Avatar"
  />
  <div class="card-body">
    <h5 class="card-title">{{ teacherInfor.name }}</h5>
    <p class="card-text">{{ teacherInfor.description }}</p>
    <a href="#" class="btn btn-primary">Các khóa học của giáo viên</a>
  </div>
</div>
<!--
<div class="flip-card">
  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          [src]="teacherInfor.imageUrl"
          alt="Avatar"
          style="width: 300px; height: 300px; object-fit: cover"
        />
        <h5 class="card-title">{{ teacherInfor.name }}</h5>
      </div>
      <div class="flip-card-back">
        <p>Architect & Engineer</p>
      </div>
      <div>
        <a href="#" class="btn-home btn-home-primary"
          >Các khóa học của giáo viên</a
        >
      </div>
    </div>
  </div>
</div> -->
