<div class="card" style="font-size: 20px">
  <img
    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80
    "
    class="card-img-top"
    style="height: 25rem; object-fit: cover"
    alt="Avatar"
  />
  <div class="card-body">
    <div>
      <h5 class="card-title">{{ teacherInfor.fullName }}</h5>
    </div>
    <div>
      <p class="card-text">{{ teacherInfor.subjectName }}</p>
    </div>
    <button href="#" style="font-size: 20px" class="btn btn-primary">
      Các khóa dạy
    </button>
  </div>
</div>
<!--
<div class="flip-card">
  <div class="card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          [src]="teacherInfor.imageUrl"
          alt="Avatar"
          style="width: 300px; height: 300px; object-fit: cover"
        />
        <h5 class="card-title">{{ teacherInfor.name }}</h5>
      </div>
      <div class="flip-card-back">
        <p>Architect & Engineer</p>
      </div>
      <div>
        <a href="#" class="btn-home btn-home-primary"
          >Các khóa học của giáo viên</a
        >
      </div>
    </div>
  </div>
</div> -->
