.admin-container {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 88vw;

  .sidebar {
    // width: 50rem;
  }
  .body{
    padding-left: 10px;
    width: 100%;
    // margin-right: 20px;
    .admin-header {
      height: fit-content;
      width: 87vw;
    }
  }
}
