<!-- <div class="navbar">
  <div class="btn-group user-action">
    <button
      type="button "
      class="user-dropdown"
      data-bs-toggle="dropdown"
      data-bs-display="static"
      aria-expanded="false"
    >
      <i class="fa-solid fa-user"></i>

    </button>
    {{ currentAdmin?.email }}
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
      <li>
        <button class="dropdown-item" type="button" (click)="logout()">
          Logout
          <i class="ms-2 fa-solid fa-arrow-right-from-bracket"></i>
        </button>
      </li>
    </ul>
  </div>
</div> -->

<div class="navbar d-flex justify-content-end">

  <div class="btn-group user-action">
    <button
      type="button "
      class="user-dropdown"
      data-bs-toggle="dropdown"
      data-bs-display="static"
      aria-expanded="false"
    >
      <i class="fa-solid fa-user"></i>

    </button>
    {{ currentAdmin?.email }}
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
      <li>
        <button class="dropdown-item" type="button" (click)="logout()">
          Logout
          <i class="ms-2 fa-solid fa-arrow-right-from-bracket"></i>
        </button>
      </li>
    </ul>
  </div>
</div>

