<!-- <div class="navbar">
  <div class="btn-group user-action">
    <button
      type="button "
      class="user-dropdown"
      data-bs-toggle="dropdown"
      data-bs-display="static"
      aria-expanded="false"
    >
      <i class="fa-solid fa-user"></i>

    </button>
    {{ currentAdmin?.email }}
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
      <li>
        <button class="dropdown-item" type="button" (click)="logout()">
          Logout
          <i class="ms-2 fa-solid fa-arrow-right-from-bracket"></i>
        </button>
      </li>
    </ul>
  </div>
</div> -->

<div class="navbar shadow d-flex justify-content-between px-4">
  <form
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  >
    <div class="input-group input-search mt-3">
      <input
        type="text"
        class="form-control bg-light border-0 small"
        placeholder="Search for..."
        aria-label="Search"
        aria-describedby="basic-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-primary btn-icon-search" type="button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </form>
  <div class="btn-group user-action">
    <button
      type="button "
      class="user-dropdown"
      data-bs-toggle="dropdown"
      data-bs-display="static"
      aria-expanded="false"
    >
      <div class="d-flex">
        <img
          src="https://codewithsadee.github.io/eduhome/assets/images/course-1.jpg"
          class="avatar"
        />
        <span>{{ currentAdmin.email.split("@")[0] }}</span>
      </div>
    </button>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
      <li>
        <button class="dropdown-item" type="button" (click)="logout()">
          Logout
          <i class="ms-2 fa-solid fa-arrow-right-from-bracket"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
