<p-table
  [value]="teachers"
  [tableStyle]="{
    'min-width': '80rem',
    'font-size': '15px',
    border: '1px soild black'
  }"
  scrollHeight="530px"
>
  <ng-template pTemplate="caption">
    <div class="d-flex justify-content-between">
      <div class="fs-2">Danh sách giáo viên</div>

      <button
        pButton
        label="Tạo giáo viên"
        class="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="createTeacher()"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Họ Và Tên</th>
      <th>Môn giảng dạy</th>
      <th>Giới tính</th>
      <th>Email</th>
      <th>Số điện thoại</th>
      <th>Địa chỉ</th>
      <th>Ngày sinh</th>
      <th>Chiết khấu</th>
      <th>Trạng thái</th>
    </tr>
    <tr>
      <th></th>
      <th pSortableColumn="fullName">
        <p-sortIcon field="fullName"></p-sortIcon>
      </th>
      <th pSortableColumn="subject">
        <p-sortIcon field="subject"></p-sortIcon>
      </th>
      <th pSortableColumn="gender">
        <p-sortIcon field="gender"></p-sortIcon>
      </th>
      <th pSortableColumn="email">
        <p-sortIcon field="email"></p-sortIcon>
      </th>
      <th pSortableColumn="phoneNumber">
        <p-sortIcon field="phoneNumber"></p-sortIcon>
      </th>
      <th pSortableColumn="address">
        <p-sortIcon field="address"></p-sortIcon>
      </th>
      <th pSortableColumn="dateOfBirth">
        <p-sortIcon field="dateOfBirth"></p-sortIcon>
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-teacher>
    <tr>
      <td>
        <button
          class="btn btn-lg"
          [ngClass]="!teacher.active ? 'btn-success fa-solid fa-arrow-rotate-right ' : 'btn-danger fa-solid fa-user-slash'"
          (click)="changeActive(!teacher.active, teacher.email)"
        >
          <!-- {{ teacher.active ? `<i class="fa-solid fa-user-slash"></i>`: "Khôi phục tài khoản" }} -->
        </button>
      </td>
      <td>{{ teacher.fullName }}</td>
      <td>{{ teacher.subjectName }}</td>
      <td>{{ teacher.gender | genTransfer }}</td>
      <td>{{ teacher.email }}</td>
      <td>{{ teacher.phoneNumber }}</td>
      <td>{{ teacher.address }}</td>
      <td>{{ teacher.dateOfBirth | date : "dd/MM/yyyy" }}</td>
      <td> {{teacher.salaryPercent *10 | percent }} </td>
      <td>
        <button
          class="btn"
          [ngClass]="teacher.active ? 'btn-success' : 'btn-danger'"
          disabled
        >
          {{ teacher.active | stateTransfer }}
        </button>
      </td>
    </tr>

    <p-dialog
      header="Xóa"
      [(visible)]="visible"
      [breakpoints]="{ '960px': '75vw' }"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <p>
        Bạn có chắc chắn muốn xóa giáo viên "
        <b>
          {{ teacher.fullName }}
        </b>
        "
      </p>
      <ng-template pTemplate="footer">
        <p-button
          (click)="visible = false"
          label="Cancel"
          class="btn-danger"
        ></p-button>
        <p-button
          (click)="removeTeacher()"
          label="Ok"
          class="btn-success"
        ></p-button>
      </ng-template>
    </p-dialog>
  </ng-template>
</p-table>
