<p-table [value]="courseDetail">
  <ng-template pTemplate="header">
    <tr>
      <th>Ngày học</th>
      <th>Thời gian</th>
      <th>Phòng</th>
      <th>Danh sách điểm danh</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-course let-expanded="expanded">
    <tr>
      <td> {{course.learningDate}} - {{course.learnDate | date}} </td>
      <td> {{course.learningSession.fromTime}} - {{course.learningSession.toTime}}</td>
      <td> Tầng {{course.roomDto.floorId}} phòng {{course.roomDto.roomName}} </td>
      <td>
        <button>
          <i class="fa-regular fa-eye"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
