
.btn-home {
  min-height: 60px;
  max-width: max-content;
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
  border-radius: var(--radius-6);
  transition: var(--transition-1);
}

.btn-home-primary {
  background-color: var(--ultramarine-blue);
  color: var(--white);
}
