.wrap-info{
  margin-top: 80px;

}
.gradient-custom-2 {
/* fallback for old browsers */
background: #fbc2eb;

/* Chrome 10-25, Safari 5.1-6 */
background: #fff;

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #fff;
}
.form-control, .form-select{
  height: 40px;
  font-size: medium;
}
